/* Add your custom styles here */

body {
  overflow-x: hidden;
  text-align: center;
}

.container-fluid {
  padding: 0;
}
/* Adds a bit of spacing to "Responsive Grid Row" blocks. */
.crx-grid {
  padding-top: 40px;
  padding-bottom: 0;
}
.crx-grid .crx-grid {
  padding-top: 0;
  padding-bottom: 0;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  width: 100%;
}

.main-nav li {
  border-bottom: 1px solid #0093DD;
  font-weight: 600;
  font-size: 1.125rem;
}

.main-nav li:last-child {
  background-color: #0093DD;
  border: 2px solid black;
  border-radius: 8px;
  padding: 2px 16px ;
  margin-left: 6rem;
  box-shadow: inset -4px 4px 4px rgba(0, 0, 0, 0.25);
}

/* MEDIA QUERIES */
/* ############################################################################### */

@media (max-width: 600px) {
  .main-nav li:last-child{
    margin-top: 4rem;
    margin-left: 0;
  }

  
}
@media(max-width: 600px) {
  .sectors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.main-button__column, .pre-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-button {
  background-color: #0093DD;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  width: 10rem;
  border: 2px solid black;
  border-radius: 8px;
  padding: 2px 16px ;
  box-shadow: inset -4px 4px 4px rgba(0, 0, 0, 0.25);
}
.submit-button {
  height: 3rem;
  display: flex;
  align-items: center;
  margin: auto;
}

#main-nav__last-child {
  color: #f5f5f5;
  font-weight: 400;
}
.hero {
  height: 500px;
  position: relative;
}

.hero__logo {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3rem;
}

.contact-form {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
  justify-content: center;
  }

.contact-form > * {
  text-align: left;

}

.separator::before {
  content: "";
  background-color: #0093DD;
  display: block;
  height: 2px;
  align-items: center;

}
.card-footer {
  display: none;
}
.custom-list {
  list-style-type: none;
}

.custom-list li {
  padding: 1rem 0 1rem 3rem;
  position: relative;
  text-align: left;
}


.custom-list li::before {
  content: '';
  display: inline-block;
  background: url("http://127.0.0.1:8000/media/images/custom-bullet-point.original.png");
  height: 2rem;
  width: 2rem;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
}
#logo__bottom {
  margin: 1rem;
}
.link__contact {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid #0093DD;
}
.footer__address {
  text-align: left;
}

.footer__list {
  list-style-type: none;
  text-align: right;
}


.footer__bottom {
  background-color: #393838;
  list-style-type: none;
  color: #93D0F4;
  margin: 0;
  padding: 2rem;
  display: flex;
}

.footer__bottom li {
  display: inline-block;
  position: relative;
  padding: 0 2rem; 
  /* padding: top/bottom and left/right */
}

.footer__bottom li::before {
  content: '';
  height: 1.125rem;
  width: 1px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #93D0F4;
  position: absolute;
}

.footer__bottom li:first-child::before, .footer__bottom li:last-child::before {
  display: none;
}

.footer__bottom li:last-child {
  font-weight: 100;
  margin-left: auto;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) { 
    .footer__bottom {
      display: grid;
    }
    .footer__bottom li{
      padding: 0.5rem;
    }
    .footer__bottom li::before {
      display: none;
    }
    .footer__bottom li:last-child {
      margin-top: 1rem;
    }
    .footer__list, #footer__phone-icon, .footer__envelope-icon{
      display: none;
    }
    .footer__address {
      display: flex;
      justify-content: center;
    }
}

.sectors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5rem;
  justify-content: center;
  align-items: center;
  margin: 3rem 1rem 3rem 1rem;
}

.sectors__item {
  display: flex;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 150px;
  width: 150px;
  
}


.sectors__item--title {
  font-size: 0.875rem;
  display: flex;
  align-self: flex-end;
  margin-bottom: -3rem;
}

@media only screen 
  and (min-device-width: 355px) 
  and (max-device-width: 900px) { 
  .industrial-sectors{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .sectors__item {
    height: 100px;
    width: 100px;
  }
  .sectors__item--title {
    font-size: 0.8rem;
    margin-bottom: -4rem;
  }
}

#automotive_industry {
  background-image: url("http://127.0.0.1:8000/media/images/automotive_1.original.png");
}
#aviation_industry {
  background-image: url("http://127.0.0.1:8000/media/images/005-airplane_1.original.png");
}
#train_industry {
  background-image: url("http://127.0.0.1:8000/media/images/rail_1.original.png");
}
#machine-tool_industry {
  background-image: url("http://127.0.0.1:8000/media/images/009-laser-cutting-machine_1.original.png");
}
#bike_industry {
  background-image: url("http://127.0.0.1:8000/media/images/007-bicycle_1.original.png");
}
#vacuum_industry {
  background-image: url("http://127.0.0.1:8000/media/images/chemical-vapor-deposition_1.original.png");
}
#valves_industry {
  background-image: url("http://127.0.0.1:8000/media/images/pipe_1.original.png");
}
#wind_industry {
  background-image: url("http://127.0.0.1:8000/media/images/wind-turbine_1.original.png");
}
#pharma_industry {
  background-image: url("http://127.0.0.1:8000/media/images/pharmaceutical_1.original.png");
}
#food_industry {
  background-image: url("http://127.0.0.1:8000/media/images/003-conveyor_1.original.png");
}
#wood_industry {
  background-image: url("http://127.0.0.1:8000/media/images/saw_1.original.png");
}
#corrugated_industry {
  background-image: url("http://127.0.0.1:8000/media/images/004-box_1.original.png");
}
#paper_industry {
  background-image: url("http://127.0.0.1:8000/media/images/002-paper-roll_1.original.png");
}
#textile_industry {
  background-image: url("http://127.0.0.1:8000/media/images/textile_1.original.png");
}
#printing_industry {
  background-image: url("http://127.0.0.1:8000/media/images/010-printer_1.original.png");
}
