.timeline-container {
    display: flex;
    flex-direction: row;
    
  }
  
  .timeline__text-container {
    height: 18.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Sets the top and bottom borders of the element */
    border-top: 1px solid #0093DD;
    border-bottom: 1px solid #0093DD;
    width: 100%;
  }
  .timeline__picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18.25rem;
  }
  
  .timeline__picture {
    /* background-image: url("ph_phone-call-thin.png"); */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 200px;
  
  }
  
  .timeline__left, .timeline__center, .timeline__right {
    flex: 1;
    padding: 10px;
  }
  .timeline__center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  @media (max-width: 768px) {
    .timeline__center {
        display: none;
    }
    .timeline-container {
        flex-direction: column;
        width: 100%;
    }
  }
  
  .timeline__icons-column {
    border: 1px solid black;
    background-color:#f5f5f5;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 6rem 6rem;
    width: 100px;
    height: 100px;
    
}

.timeline__icon {
  background-size: contain;
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
  padding: 1rem;
}
  
  .timeline__icon--date-right {
    position: relative;
    right: -5rem;    
  }
  
  .timeline__icon--date-left {
    position: relative;
    left: -5rem;
  }

  /* ICONS */
  
  #icon-1980 {
    background-image: url("http://127.0.0.1:8000/media/images/Icon_-_barrel_Lubcon.original.png");
  }
  #icon-1985 {
    background-image: url(/media/images/024-settings_4.original.png);
  }

  #icon-1990 {
    background-image: url(../../../../media/images/004-lubricant_4.original.png);
  }

  #icon-1999 {
    background-image: url(/media/images/030-flask_4.max-165x165.png);
  }
  
  #icon-2005 {
    background-image: url(/media/images/united-kingdom_4.max-165x165.png);
  }

  #icon-2012 {
    background-image: url(/media/images/Group.original.png);
  }

  #icon-2023 {
    background-image: url(/media/images/Group-1.max-165x165.png);
  }
  

  /* IMAGES */

  #image-1980 {
    background-image: url(/media/images/lubcon_history_1980.max-165x165.jpg); 
    filter: grayscale(1) blur(1px) contrast(1.2) sepia(1);
  }
  
  #image-1985 {
    background-image: url(/media/images/lubcon_history_1985.max-800x600.jpg);
  }
  
  #image-1990 {
    background-image: url(/media/images/lubcon_history_1990.max-800x600.jpg);
  }
  
  #image-1999 {
    background-image: url();
  }
  
  #image-2005 {
    background-image: url();
  }
  
  #image-2012 {
    background-image: url();
  }
  
  #image-2023 {
    background-image: url();
  }